.App {
  text-align: center;
}

.main-column {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.back-button {
  width: 10%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px; ;
  border: 2px solid #bbb;
  border-radius: 10px;
  background-color: #fff;
}

